section.manual
  p: a(href="/manual") 返回
  h1 關於月下人狼
  p
    | 關於遊玩方法等資訊請查看
    a(href="/manual") 遊戲說明
    | 。
  p
    | 同時也可參考
    a(href="https://jinrou-doc.uhyohyo.net/") 官方說明文件（日文）
  p
    | 或是參考由<span> Sunev </span>提供的
    a(href="https://doc.werewolf.com.cn/") 官方簡體中文版說明文件
    | （建設中）。
    
  h2 官方twitter帳號
  p 月下人狼的twitter帳號是<a href="https://twitter.com/jinroutter" target="_blank">@jinroutter</a>。
  p 會發推文公告建村情報及更新情報（官方日文版）。

  h2 開発者
  p 開発者はうひょ(<a href="https://twitter.com/uhyo_" target="_blank">@uhyo_</a>)です。

  h2 協力者
  p
    small （敬称略）
  dl
    dt
      | Sunev (
      a(href="https://github.com/Sunev",target="_blank") GitHub
      | )
    dd 協助了50次以上的功能追加和BUG修正。
    dt
      | 箱庭 (
      a(href="https://twitter.com/hakoniwawind",target="_blank") Twitter
      | )
    dd 提交了50次以上的BUG報告。

  h2 原始碼
  p 月下人狼為開源軟體。
  p
    a(href="https://github.com/uhyo/jinrou",targeet="_blank") uhyo/jinrou - Github
