section.manual
  h1 使用說明
  p 這是月下人狼的說明手冊。
  p 關於各職業的詳細操作，也可以參考<a href="http://jinrou-doc.uhyohyo.net/" target="_blank">官方說明文件</a>（日文）。
  h2 頁面一覽
  ul
    li: a(href="/manual/features") 此人狼殺的特點
    li: a(href="/manual/spec") 此人狼殺的遊戲設計
    li: a(href="/manual/rule") 人狼殺的規則
    li: a(href="/manual/play") 此人狼殺的遊玩方法
    li: a(href="/manual/prohibited") 禁止行為・注意事項
    li: a(href="/manual/welcome") 人狼入門
    li: a(href="/manual/joblist") 職業一覧
    li: a(href="/manual/casting/index") 配置一覧
    li: a(href="/manual/changelog") 更新紀錄
