section.mylog
  h1 戰績
  if !loggedin
    p 若要查看自己的戰績，請先登入。
  else
    p
      a(href="/rooms/my") 自己參加過的村莊一覧

    h2 最近的戰績
    p
      label.mylog-open
        i.far.fa-fw.fa-id-card#open-recent-icon
        | 向其他使用者公開自己最近的戰績
        input#open-recent(type="checkbox", disabled)
      i.far.fa-question-circle.mylog-desc-of-open(data-helpicon, title="於玩家資訊公開自己最近的戰績。但是，即使設定非公開依然會公開暴斃率。")

    #recentdata
      p
        i.fa.fa-spinner.fa-pulse
        | 讀取中……

    h2 所有戰績
    p
      label.mylog-open
        i.far.fa-fw.fa-id-card#open-all-icon
        | 向其他使用者公開自己所有的戰績
        input#open-all(type="checkbox", disabled)
      i.far.fa-question-circle.mylog-desc-of-open(data-helpicon, title="於玩家資訊公開自己過去所有的戰績，包括對戰數、勝場、敗場、以及各職業勝敗率斗等。")
    #alldata
      p
        i.fa.fa-spinner.fa-pulse
        | 讀取中……

